body {
    background: url('../images/bg.jpg') no-repeat center fixed;
    background-size: cover;
}

.main {
    margin-left: 40px;
}

.btn {
    margin: 20px 0;
    display: inline-block;
    min-width: 100px;
    padding: 4px 10px;
    background-color: #d0961d;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #4c4e52;
    text-align: center;
    border-radius: 10px;
}

.btn:hover,
.btn:focus {
    background-color: #909296;
    color: #ecb23a;
    box-shadow: 4px 4px 5px rgba(229, 165, 35, 0.56);
}

.input {
    display: block;
    margin-bottom: 20px;
    width: 300px;
    border: 2px solid #bdbdbd;
    border-radius: 10px;
}

.input:hover,
.input:focus {
    border-color: #ecb23a;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}